<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS for centering content */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .content {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="content">
    <h1>Email Verification</h1>
    <% if (verified) { %>
    <p>Your email has been successfully verified!</p>
    <p>Thank you for registering with us.</p>
    <p>
      <a href="/auth/applicantlogin" class="btn btn-primary">Proceed to Login</a>
    </p>
    <!-- You can add additional content or redirect to a login page here -->
    <% } else { %>
    <p>Invalid verification token or email is already verified.</p>
    <p>
      <a href="/auth/applicantlogin" class="btn btn-primary">Proceed to Login</a>
    </p>
    <% } %>
  </div>

  <!-- Bootstrap JS (Optional, if needed) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

