<div id="sidebar">
    <ul id="sidebar-nav">
        <li>
            <% if (currentUser) { %>
                <i class="bi bi-person-fill"></i><%= currentUser.first_name %> <%= currentUser.last_name %>
            <% } else { %>
                <p>User not logged in.</p>
            <% } %>
        </li>
        
            <!-- ... (other menu items) ... -->
            <li><a href="/applicant/announcement"><i class="bi bi-envelope-exclamation"></i> Notifications</a></li>
            
        
            <li><a href="/applicant/prereg"><i class="fas fa-file-alt"></i> Application Form</a></li>
        
         
        <li><a href="/applicant/applicant-pre-reg"><i class="fas fa-user-plus"></i> Pre-registration Form</a></li>
    </ul>
</div>
