<div id="sidebar">
    <ul id="sidebar-nav">
        <li>
            <% if (currentUser) { %>
                <p><%= currentUser.name %></p>
            <% } else { %>
                <p>User not logged in.</p>
            <% } %>
        </li>
        <li><a href="/applicant/dashboard"><i class="fas fa-chart-bar"></i> Dashboard</a></li>
        <li><a href="/applicant/applicationform"><i class="fas fa-file-alt"></i> Application Form</a></li>
        <li><a href="/applicant/profile"><i class="fas fa-user"></i> My Profile</a></li>
    </ul>
</div>
