<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/css/applicant-forget-password.css">
  <title>Forgot Password</title>
  <!-- Include Bootstrap CSS from a CDN (Content Delivery Network) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container applicant-forget-password-container">
    <h1 class="mt-5">Forgot Password</h1>
    <form action="/mail/forgetpassword" method="POST" class="mt-4">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Include Bootstrap JavaScript from a CDN (Optional, for certain features) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
