body{
    background-color: ghostwhite;
}

.admin-reset-password-container{
   
    margin-top:130px;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    background-color: white;
}

.admin-reset-password-title{
    text-align: center;
}

.admin-reset-password-container {
    padding: 20px;
  }
  
  .admin-reset-password-title {
    text-align: center;
  }
  
  .bg-image {
    /* Replace 'your-image-url' with the URL of your background image */
    background-image: url('/public/image/formbg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

@media (min-width: 768px) and (max-width: 990px) {
    .admin-reset-password-container{
        width: 90%;
    }
}

/* mobile to mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .admin-reset-password-container{
        width:90%;
    }
}