 

 #applicantloginform {
    margin-top: 97px;
}

.modal-blurr {
    backdrop-filter: blur(8px);
    
  }
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}
.applicants-logo{
    border-radius: 60%;
    width: 170px;
    height: 140px; 
    display: block; 
    margin: 0 auto;
}

.applicant-btn-container{
    text-align: center;
}

.btn-app-login {
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
}


.btn-app-cancel {
    width: 40%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: red;
    border-color: red;
}


.btn-app-cancel:hover {
    background-color: red;
}


.btn-app-register {
    background-color: transparent;
    color: #05BFDB;
    border-style: none;
    margin-bottom: 2px;
}


.btn-app-register:hover {
    background-color: transparent;
    border-style: none;
    color: blue;
}


.reset-class {
    margin-top: 2px;
}


.btn-app-reset {
    background-color: transparent;
    color: #05BFDB;
    border-style: none;
}


.btn-app-reset:hover {
    background-color: transparent;
    border-style: none;
    color: blue;
}

.modal-content {
    background-color: transparent !important;
    border: none;
}

.loading-text{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 1200px) {
    .bg-image {
 
        height: 100vh;
    }


    #applicantloginform {
        padding: 2rem;
    }
}


@media screen and (min-width: 991px) and (max-width: 1200px) {
  .bg-image{
    height:110vh;
  }
  #applicantloginform{
    padding:2rem;
  }
}

/* tablet to tablet */
@media (min-width: 768px) and (max-width: 990px) {
    #applicantloginform{
        max-width:100%;
    
    }
}




.flash-message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
}

.error {
    background-color: #f44336;
    color: white;
}

.flash-icon {
    margin-right: 10px;
    font-size: 20px;
}

.flash-text {
    flex-grow: 1;
}

/* Media query for smaller screens */
