/* Default styles for desktop */
main {
	height: calc(100vh - 50px);
	overflow-y: hidden;
	display: flex;
  }
  
  #main-wrapper {
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
  }
  
  #sidebar {
	height: 100%;
	width: 220px;
	flex-shrink: 0;
	background-color: #ffffff; /* Set background color to white */
	overflow-y: auto;
	transition: 0.15s linear;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box-shadow property here */
	color:green;
  }
  
  #sidebar-toggler-btn {
	cursor: pointer;
  }
  
  .sidebar-hide {
	width: 0px !important;
  }
  
  #sidebar ul {
	list-style-type: none;
	padding: 0;
	font-family: sans-serif;
  }
  
  #sidebar ul li {
	font-size: 16px;
	font-family:sans-serif;
	font-weight: 600;
	opacity:0.8;
  }
  
  #sidebar li {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  #sidebar ul li:first-child {
	text-align: center;
	margin: 5px;
  }
  
  #sidebar ul li a:not(.btn) {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	color: #000000; /* Set font color to black */
  }
  
  #sidebar ul li a.active {
	color: whitesmoke; /* Set font color to black */
  	background-color:  #515a5a ; /* Set background color to slightly transparent white */
	border-left: 4px solid var(--theme-color);
  }
  
  #sidebar ul li a:not(.btn):hover {
	color: #155724; /* Text color */
    background-color: #d4edda; /* Background color */
	border-left: 4px solid var(--theme-color);
  }
  
  .submenu-toggle .toggle-icon {
	float: right;
	margin-right: 10px;
	transition: transform 0.3s ease;
  }
  
  .submenu-toggle.active .toggle-icon {
	transform: rotate(90deg);
  }
  
  .submenu {
	display: none;
	list-style-type: none;
	padding-left: 0;
	margin-left: 20px;
  }
  
  .submenu li a {
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	text-align: left;
	color: #000000; /* Set font color to black */
  }
  
  .submenu li a:hover {
	background-color: #f1f1f1; /* Set hover background color to a light gray */
  }
  
  .submenu-toggle.active .submenu {
	display: block;
  }
  /* Add this CSS to make the hr smaller */
.small-divider {
	height: 1px;
	margin-top:11px;
  }
  
  
  /* Media query for mobile screens */
  @media (max-width: 767px) {
	main {
	  height: calc(100vh - 50px);
	  overflow-y: hidden;
	  display: flex;
	}
  
	#main-wrapper {
	  flex-grow: 1;
	  height: 100%;
	  overflow-y: auto;
	}
  
	#sidebar {
	  width: 0;
	  overflow: hidden;
	}
  
	.sidebar-hide {
	  width: 220px !important;
	}
  
	/* Add any additional mobile-specific styles here */
  }
  