@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
	--theme-color: green;
}

body
{
	height: 100vh;
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}


header
{
	background-color: var(--theme-color);
	height: 50px;
	font-weight: 500;
	
}
header .Logo{
	margin-left:10px;
}

header .header-title{
	font-weight:bold;
	font-family:sans-serif;
}

header .nav-link
{
	color:white !important;
}
header #navbarSupportedContent
{
	background-color: var(--theme-color);
}
header .nav-link:hover
{
	transition: 0.3s;
	color: #ddd1d1 !important;
}

header .navbar-toggler:focus
{
	box-shadow: none;
}


.color-theme
{
	color: var(--theme-color);
}

.btn-danger
{
	background-color: rgb(223, 28, 28);
	font-size: 15px;
}

.btn:hover
{
	box-shadow: 3px 4px 6px 0px grey;
	color: white;
}

.btn-view{
	background-color:  #2c3e50;
	font-size: 15px;
}



.form-date-input
{
	display: block;
    width: 100%;
    padding: 6px;
    border-radius: 4px;
	border: 1px solid #ced4da;
}
.form-date-input:focus
{
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
	outline: none;
}

.text-pending
{ color: rgb(243, 172, 18) !important; }
.text-rejected
{ color: red !important; }
.text-accepted
{ color: green !important; }
.text-assigned
{ color: blue !important; }
.text-collected
{ color: #3f51b5 !important; }


.alerts-wrapper
{
	position: absolute;
	right: 0px;
	width: fit-content;
	font-weight: bold;
	animation: moveLeft 0.1s linear;
	z-index: 100;
}

.alerts-wrapper .alert-danger
{
	color: white;
	background-color: #e22a2a;
}
.alerts-wrapper .alert-success
{
	color: white;
	background-color: #1fa64e;
}




@keyframes moveLeft {
	from { right: -100px; }
	to { right: 0px; }
}

/* mobile to mobile */
@media (min-width: 320px) and (max-width: 767px) {
	.logo{
	height: 40px;
  	}
  	.header-title{
	font-size:17px;
	}
}

@media (min-width: 280px) and (max-width: 319px){
	.logo{
		height:25px;
	}

	.header-title{
		font-size:15px;
	}


}
