<main>

    <link rel="stylesheet" href="/public/css/applicant-oldappform.css">
    
    <div id="main-wrapper">
        

        <nav class="custom-navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid applicant-navbar">
          
                
                <div class="nav-links-container">
                    <a class="nav-link navbar-btns" href="/applicant/announcement"><i class="bi bi-envelope-exclamation"></i> Notifications</a>
                    <a class="nav-link navbar-btns" href="/applicant/form"><i class="fas fa-file-alt"></i> Application Form</a>
                    <a class="nav-link navbar-btns" href="/applicant/applicant-pre-reg"><i class="fas fa-user-plus"></i> Pre-registration Form</a>
                  </div>
              
              
                <button class="custom-navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#customNavbarSupportedContent" aria-controls="customNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span><i class="fas fa-bars text-white"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse collapse-button" id="customNavbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                      <a class="nav-link navlink1" href="/applicant/announcement"><i class="bi bi-envelope-exclamation"></i> Notifications</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link navlink1" href="/applicant/form"><i class="fas fa-file-alt"></i> Application Form</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link navlink1" href="/applicant/applicant-pre-reg"><i class="fas fa-user-plus"></i> Pre-registration Form</a>
                  </li>
              </ul>
          </div>
        </nav>

        <div class="bg-white shadow-sm applicant-announcement-header">
            <h5 class="m-0 color-theme d-inline-block applicant-announcement-header-title">Application Form</h5>
        </div>

        <% if (showForm) { %>
        <!-- applicant/announcement.ejs -->

        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirm Submission</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" id="cancelButton" aria-label="Close"></button>
                    </div>


                    <!-- Form inside modal body -->
                    <form id="submissionForm" action="/applicant/form" method="POST">
                        <div class="modal-body">
                            <div class="alert alert-success code-note container-sm mb-3">
                                <p class="mb-0">Please enter the pre-registration code</p>
                            </div>
                            <div class="enter-generate-code-form container-sm">
                                <div class="input-code-div mb-3">
                                    <label for="code" class="form-label">Enter code:</label>
                                    <input type="text" class="form-control gen-code-form" id="code" name="code">
                                </div>
                                <div class="button-code-div d-flex justify-content-center align-items-center">
									<!-- Loading indicator -->
									<div id="loadingIndicator" class="text-center me-2" style="display: none;">
										<div class="spinner-border green-yellow" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                          </div>
                                          <style>
                                            .spinner-border {
                                        width: 3rem;
                                        height: 3rem;
                                        border-width: 0.25em;
                                        }

                                        .spinner-border.green-yellow {
                                        border-color: green yellow green;
                                        }

                                          </style>
                                    
										<p>Loading...</p>
									</div>
								</div>
								
                                    <button type="button" class="btn btn-secondary me-2" id="cancelButtons" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" id="confirmSubmitButton">Yes, Submit</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


		<script>
			// Wait for the DOM content to load
			document.addEventListener("DOMContentLoaded", function() {
				// Select the modal element
				var modal = new bootstrap.Modal(document.getElementById('confirmationModal'), {
					backdrop: 'static'
				});
				// Show the modal
				modal.show();
		
				// Close modal when sidebar toggler is clicked
				document.getElementById('cancelButtons').addEventListener('click', function() {
					modal.hide();
				});
		
				// Handle click event on Cancel button
				document.getElementById('cancelButton').addEventListener('click', function() {
					modal.hide();
				});
			});
		
			document.getElementById('confirmSubmitButton').addEventListener('click', function() {
				// Show loading indicator
				document.getElementById('loadingIndicator').style.display = 'block';
		
				// Blur the modal backdrop (optional)
				document.getElementById('confirmationModal').classList.add('modal-blurr');
		
				// Simulate loading delay and form submission
				setTimeout(function() {
		
					// Trigger form submission
					document.querySelector('form').submit();
				}, 2000); // 3 seconds delay, adjust as needed
			});
		
			document.addEventListener('DOMContentLoaded', function() {
				const codeInput = document.getElementById('code');
		
				// Add event listener for input events
				codeInput.addEventListener('input', function(event) {
					const inputValue = event.target.value;
					const numericValue = parseInt(inputValue);
		
					if (isNaN(numericValue)) {
						// If the input value is not a number, clear it
						event.target.value = '';
					}
				});
			});
		</script>
		
		
        <% } else { %>
        <% if (existingForm) { %>
        
            <p class="old-form-announce-text"><%= message %></p>
        
        <% } else if (typeof existingForm === 'undefined') { %>
        <p class="old-form-announce-text">Existing form is not defined.</p>
        <% } else { %>
        <!-- If there is no existingForm, check if there is a message -->
        <% if (message) { %>
        <p class="old-form-announce-text"><%= message %></p>
        <% } %>
        <!-- Handle other cases where existingForm doesn't exist -->
        <% } %>

        <% } %>


    </div>


</main>
