<div class="container">

    <section id="about">
        <div class="row">
            <div class="col-md-6">
                <br />
                <h2>About SSO</h2>
                <p>
                    SSO is a government entity that provides needs and assistance (scholarship and financial assistance) to the
                    citizens of Paranaque.
                </p>
                <h3>Mission</h3>
                <ol>
                    <li>
                        Provides Financial Assistance to all deserving incoming and college students through College Scholarship
                        Program
                    </li>
                    <li>Provide free TESDA skills Training</li>
                    <li>Provides burial assistance through Libreng Libing Program</li>
                </ol>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <br />
                    <img src="/public/image/landingpageimage.jpg" alt="SSO Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
